@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #2C2C32;
  transition: 0.5s ease;
}

body.show {
  transform: translateX(-350px);
}

a {
  color: #2C2C32;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.row > * {
  max-width: 100%;
  width: 100%;
  padding: 0.5rem;
}

@media screen and (min-width: 0) {
  .col-xs-1 {
    flex: 0 0 8.3333333333%;
  }
  .col-xs-2 {
    flex: 0 0 16.6666666667%;
  }
  .col-xs-3 {
    flex: 0 0 25%;
  }
  .col-xs-4 {
    flex: 0 0 33.3333333333%;
  }
  .col-xs-5 {
    flex: 0 0 41.6666666667%;
  }
  .col-xs-6 {
    flex: 0 0 50%;
  }
  .col-xs-7 {
    flex: 0 0 58.3333333333%;
  }
  .col-xs-8 {
    flex: 0 0 66.6666666667%;
  }
  .col-xs-9 {
    flex: 0 0 75%;
  }
  .col-xs-10 {
    flex: 0 0 83.3333333333%;
  }
  .col-xs-11 {
    flex: 0 0 91.6666666667%;
  }
  .col-xs-12 {
    flex: 0 0 100%;
  }
}
@media screen and (min-width: 48rem) {
  .col-sm-1 {
    flex: 0 0 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
  }
}
@media screen and (min-width: 72rem) {
  .col-md-1 {
    flex: 0 0 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
  }
  .col-md-4 {
    flex: 0 0 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
  }
  .col-md-7 {
    flex: 0 0 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
  }
  .col-md-10 {
    flex: 0 0 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
  }
}
@media screen and (min-width: 96rem) {
  .col-lg-1 {
    flex: 0 0 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
  }
}
.d--flex {
  display: flex;
}

.d--grid {
  display: grid;
}

.d--block {
  display: block;
}

.mb--1 {
  margin-bottom: 1rem;
}

.gap--1 {
  gap: 1rem;
}

.py--1 {
  padding: 1rem 0;
}

.mb--2 {
  margin-bottom: 2rem;
}

.gap--2 {
  gap: 2rem;
}

.py--2 {
  padding: 2rem 0;
}

.mb--3 {
  margin-bottom: 3rem;
}

.gap--3 {
  gap: 3rem;
}

.py--3 {
  padding: 3rem 0;
}

.mb--4 {
  margin-bottom: 4rem;
}

.gap--4 {
  gap: 4rem;
}

.py--4 {
  padding: 4rem 0;
}

.mb--5 {
  margin-bottom: 5rem;
}

.gap--5 {
  gap: 5rem;
}

.py--5 {
  padding: 5rem 0;
}

.mb--6 {
  margin-bottom: 6rem;
}

.gap--6 {
  gap: 6rem;
}

.py--6 {
  padding: 6rem 0;
}

.text--left {
  text-align: left;
}

.text--right {
  text-align: right;
}

.text--center {
  text-align: center;
}

.justify--start {
  justify-content: flex-start;
}

.align--start {
  align-items: flex-start;
}

.justify--end {
  justify-content: flex-end;
}

.align--end {
  align-items: flex-end;
}

.justify--between {
  justify-content: space-between;
}

.align--between {
  align-items: space-between;
}

.justify--around {
  justify-content: space-around;
}

.align--around {
  align-items: space-around;
}

.justify--center {
  justify-content: center;
}

.align--center {
  align-items: center;
}

.links {
  margin-top: 1rem;
  background: #fff;
  padding: 2rem 0;
  border-top: 1px solid rgb(196, 196, 196);
}
.links h2 {
  position: absolute;
  top: 40%;
  right: -12rem;
  transform: rotate(-90deg);
  font-size: 2.4rem;
  color: #2C2C32;
  font-weight: 900;
  display: flex;
  align-items: flex-start;
  letter-spacing: 2px;
  display: none;
}
.links h2 span {
  font-size: 2.4remrem;
}
.links h2 span:last-child {
  font-size: 1rem;
}
@media screen and (min-width: 1020px) {
  .links h2 {
    display: block;
  }
}
.links__wrapper {
  padding: 1rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(196, 196, 196);
  position: relative;
}
@media screen and (min-width: 1020px) {
  .links__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
  }
}
.links__wrapper .links__item {
  margin-top: 1rem;
}
@media screen and (min-width: 1020px) {
  .links__wrapper .links__item {
    margin-top: unset;
    margin: 2rem 0;
  }
}
.links__wrapper .links__item h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: clamp(1.6rem, 2vw, 2rem);
}
.links__wrapper .links__item h4 span {
  color: #5c5c68;
}
@media screen and (min-width: 1020px) {
  .links__wrapper .links__item h4 span {
    color: #000000;
  }
}
.links__wrapper .links__item h4 i {
  transition: 0.5s ease-in-out;
  font-size: 2rem;
}
@media screen and (min-width: 1020px) {
  .links__wrapper .links__item h4 i {
    display: none;
  }
}
.links__wrapper .links__item h4 i.open {
  transform: rotate(-180deg);
  transition: 0.5s ease-in-out;
}
.links__wrapper .links__item ul {
  margin-left: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
@media screen and (min-width: 1020px) {
  .links__wrapper .links__item ul {
    max-height: unset;
    margin-left: unset;
    margin-top: 1rem;
  }
}
.links__wrapper .links__item ul.open {
  max-height: 25rem;
}
.links__wrapper .links__item ul li {
  margin: 2rem 0;
}
.links__wrapper .links__item ul li a {
  font-size: clamp(1.4rem, 1.6vw, 1.6rem);
  color: #747483;
  font-weight: 500;
}
.links__wrapper .links__item ul li a:hover {
  color: #2C2C32;
}
.links__wrapper .links__item:nth-child(2) {
  margin: 3rem 0;
}
@media screen and (min-width: 1020px) {
  .links__wrapper .links__item:nth-child(2) {
    margin: unset;
    margin: 2rem 0;
  }
}

.space {
  padding: 3.5rem 0;
}

.banner {
  background-image: url("/starbucks/img/image/lQkfJOiMaudicSk7PQT5k4IDINiWdchEhrOWK5lw.jpeg");
  height: 400px;
  background-position: 92%;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 1.5rem;
  padding: 11rem 0;
}
.banner__wrapper h2 {
  font-weight: 700;
  font-size: clamp(4rem, 6vw, 7rem);
  margin-bottom: 5rem;
  color: #1E3932;
  line-height: 1.2;
}
.banner__wrapper a {
  border: 1.5px solid rgba(0, 0, 0, 0.87);
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1.3rem;
  font-weight: 700;
  border-radius: 2.5rem;
  color: #1E3932;
}
.banner__wrapper a:hover {
  background-color: hsla(0, 0%, 100%, 0.12);
  transition: 0.5s ease;
}
@media screen and (min-width: 1020px) {
  .banner {
    background-position: 100%;
    height: 600px;
  }
  .banner__wrapper {
    margin-left: unset;
    padding: 20rem 0;
  }
  .banner__wrapper h2 {
    margin-top: 0;
  }
}

.order {
  padding: 3rem 0;
}
.order__wrapper {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.order__wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
  width: 100%;
}
.order__wrapper .order__text {
  background-color: #006241;
  color: #FFFFFF;
  padding: 3.5rem 3rem;
  width: 100%;
}
.order__wrapper .order__text h3 {
  font-size: 2.4rem;
}
.order__wrapper .order__text p {
  padding: 3rem 0;
}
.order__wrapper .order__text a {
  font-size: 1.6rem;
  color: #FFFFFF;
  border: 1.5px solid #FFFFFF;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1.3rem;
  font-weight: 700;
  border-radius: 2.5rem;
}
.order__wrapper .order__text a:hover {
  background-color: hsla(0, 0%, 100%, 0.12);
  transition: 0.5s ease;
}
@media screen and (min-width: 1020px) {
  .order__wrapper {
    flex-direction: row;
    max-width: 150rem;
    margin: 0 auto;
  }
  .order__wrapper .order__text {
    width: 95%;
  }
}

.order#dual {
  padding-top: 0;
  max-width: 150rem;
  margin: 0 auto;
}
.order#dual .order__wrapper:last-child {
  padding-top: 3rem;
}
.order#dual .order__text {
  background-color: #1E3932;
  width: 100%;
}
@media screen and (min-width: 1020px) {
  .order#dual {
    display: flex;
  }
  .order#dual .order__wrapper:last-child {
    padding-top: 0;
  }
  .order#dual .order__wrapper {
    flex-direction: column;
  }
  .order#dual .order__wrapper img {
    height: 400px;
    min-width: 73.5rem;
  }
  .order#dual .order__wrapper#item1 {
    margin-left: 0;
  }
  .order#dual .order__wrapper#item2 {
    margin-right: 0;
  }
}

.order#dual2 {
  padding-top: 0;
  max-width: 150rem;
  margin: 0 auto;
}
.order#dual2 .order__wrapper:last-child {
  padding-top: 3rem;
}
.order#dual2 .order__text {
  color: rgba(0, 0, 0, 0.87);
  background-color: #D4E9E2;
  width: 100%;
}
.order#dual2 .order__text a {
  color: rgba(0, 0, 0, 0.87);
  border: 1.5px solid rgba(0, 0, 0, 0.87);
}
@media screen and (min-width: 1020px) {
  .order#dual2 {
    display: flex;
  }
  .order#dual2 .order__wrapper:last-child {
    padding-top: 0;
  }
  .order#dual2 .order__wrapper {
    flex-direction: column;
  }
  .order#dual2 .order__wrapper img {
    height: 400px;
    min-width: 73.5rem;
  }
  .order#dual2 .order__wrapper#item1 {
    margin-left: 0;
  }
  .order#dual2 .order__wrapper#item2 {
    margin-right: 0;
  }
}

.order#down {
  padding: 0;
}
.order#down .order__wrapper {
  background-color: #D4E9E2;
}
.order#down .order__text {
  color: rgba(0, 0, 0, 0.87);
  background-color: #D4E9E2;
}
@media screen and (min-width: 1020px) {
  .order#down .order__text {
    padding: 0;
    width: 100%;
  }
  .order#down .order__wrapper {
    align-items: center;
  }
}

.order#reverse .order__text {
  color: rgba(0, 0, 0, 0.87);
  background-color: #FAF6EE;
  width: 100%;
}
.order#reverse .order__text a {
  color: rgba(0, 0, 0, 0.87);
  border: 1.5px solid rgba(0, 0, 0, 0.87);
}
@media screen and (min-width: 1020px) {
  .order#reverse .order__wrapper {
    flex-direction: row-reverse;
  }
  .order#reverse .order__wrapper .order__text {
    width: 97%;
  }
}/*# sourceMappingURL=main.css.map */